.footer-container {
	position: fixed;
	width: auto;
	height: 100vh;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: end;
	align-items: end;
	flex-direction: column;
	gap: 0.5rem;
}

.page-navigation-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 100ms ease-out;
	color: black;
	border: 1px solid black;
}

.page-navigation-button:hover {
	color: var(--blue);
	background: var(--blue);
	color: white;
}

.page-navigation-button.disabled {
	color: #7c7c7c;
	border: 1px solid #7c7c7c;
}

.page-navigation-button.disabled:hover {
	color: #7c7c7c;
	background: #f0f0f0;
	color: #7c7c7c;
}
