.footer-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

.page-navigation-button {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	padding: 50px;
	cursor: pointer;
	transition: all 100ms ease-out;
	color: white;
	border: none;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.05);
}

.page-navigation-button:nth-child(1) {
	transform: translateX(-50%);
	justify-content: flex-end;
}

.page-navigation-button:nth-child(2) {
	transform: translateX(50%);
}

.page-navigation-button:hover {
	background: var(--blue);
	color: white;
	opacity: 1;
}

.page-navigation-button.disabled {
	color: transparent;
	border: none;
	cursor: default;
	background: transparent;
}

.page-navigation-button.disabled:hover {
	background: transparent;
}
