@import url(./reset.css);
@import url(./variables.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./article.css);
@import url(./main.css);

body {
	min-height: 100vh;
}

*::-webkit-scrollbar {
	width: 0px;
	display: none;
}

*::-webkit-scrollbar-track {
	outline: 1px solid black;
	padding: 5px;
	display: none;
}

*::-webkit-scrollbar-thumb {
	background-color: #f1f1f1;
	outline: 1px solid black;
}
