@import url(/admin/assets/styles/variables.css);
@import url(/admin/assets/styles/summernote-lite.min.css);
@import url(/admin/assets/styles/news-addition-form.css);
@import url(/admin/assets/styles/header.css);
@import url(/admin/assets/styles/accordion.css);
@import url(/admin/assets/styles/login-page.css);
@import url(/admin/assets/styles/main.css);
@import url(/admin/assets/styles/main-left-container.css);
@import url(/admin/assets/styles/toast.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 1em;
}

*::-webkit-scrollbar-track {
	outline: 1px solid black;
	padding: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: #f1f1f1;
	outline: 1px solid black;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro", sans-serif;
	overflow-y: scroll;
	min-height: 100vh;
	height: 100vh;
	overflow: hidden;
}

#submit-news-button {
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
}
